<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" th:href="@{/css/newStylesheet.css}">
</head>
<body class="bg3">
<div class="container">
    <h2>Detail about the Job</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Position</th>
            <th>company</th>
            <th>Requirement</th>
            <td>DesiredSkills</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="jobs : ${jobs}">
            <td th:text="${jobs.position}"></td>
            <td th:text="${jobs.company}"></td>
            <td th:text="${jobs.requirement}"></td>
            <td th:text="${jobs.desiredSkills}"></td>

        </tr>

        </tbody>
    </table>
    <a href="/showalljob">Show All Jobs</a><br />
    </div>
</body>
</html>

