<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/newStylesheet.css">
</head>
<body>


<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <h1>Welcome to EasyJob.com</h1>
        <h1><a href="/showalljob">View all Job</a><br /></h1>
        <h1><a href="/addjob">Add a Job</a><br /></h1>
    </div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>