<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" th:href="@{/css/newStylesheet.css}">
</head>
<body class="bg">
<div class="container">
<form class="form-horizontal" action="#"
      th:action="@{/update}"
      th:object="${jobb}"
      method="post">
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <h1>Insert the Job Details</h1>

        </div>

    </div>

    <div class="form-group">
        <div class="control-label col-sm-2">

    Position :<input type="text" class="form-control" th:field="*{position} " size="10"/>
    <span th:if="${#fields.hasErrors('position')}"
          th:errors="*{position}"></span><br />
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-sm-2">
    Company :<input type="text" class="form-control" th:field="*{company}" size="10"/>
    <span th:if="${#fields.hasErrors('company')}"
          th:errors="*{company}"></span><br />
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-sm-2">
    Requirement :<textarea rows="3" class="form-control" th:field="*{requirement}" size="10"/>
    <span th:if="${#fields.hasErrors('requirement')}"
          th:errors="*{requirement}"></span><br />
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-sm-2">
    DesiredSkills :<input type="text" class="form-control" th:field="*{desiredSkills}" size="10"/>
    <span th:if="${#fields.hasErrors('desiredSkills')}"
          th:errors="*{desiredSkills}"></span><br />
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="control-label col-sm-2">
    <input type="submit" value="Submit" />
        </div>
    </div>
</form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
