<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<a href="/addjob">Add a Job</a><br />
<table>
    <tr>
        <th>Position</th>
        <th>company</th>
        <th>Requirement</th>
        <td>DesiredSkills</td>
    </tr>
    <tr th:each="jobs : ${jobs}">
        <td th:text="${jobs.position}"></td>
        <td th:text="${jobs.company}"></td>
        <td th:text="${jobs.requirement}"></td>
        <td th:text="${jobs.desiredSkills}"></td>
        <td>
           <a th:href="@{/detail/{id}(id=${jobs.id})}">Details</a> -

        </td>
    </tr>
</table>
</body>
</html>